
$primary-welcome-text-color: linear-gradient(90deg, #B3A9FF 0%, #E22038 100%);;
$welome-sub-text: #E4E4E4;
$loginForm-bg: #0F090C66;
$email-label: #F5F4F4;
$login-Btn-background: linear-gradient(90deg, #7626A3 0%, #A60C4A 100%);
$uploadFileTitle1: var(--Blue_Gray-400, rgba(148, 163, 184, 1));






$primary-button-color:'';
$primary-button-text-color : '';
