    // *{
    //     font-size:16px !important;
    // }
.ql-toolbar.ql-snow{
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}
.ql-editor{
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    overflow-y: scroll;
    height: calc(100vh - 180px);
}

.ql-toolbar .ql-snow {
    button svg{
        color: #003087 !important;
    }
}

.ql-toolbar.ql-snow {
    border:1px solid #E2E8F0 !important;
}

.ql-container.ql-snow {
    border:1px solid #E2E8F0 !important;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}